.appbar{
    height:50px;
    display: flex;
    justify-content: center;
}
.appbar_name{
    font-size: 18px;
    text-align: left;
    margin:5px;
}
.navbar_links{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    gap:20px
}
.link{
    text-decoration: none;
    color: white;
}


